
/*  ******************************* DISCOGRAFIA DESKTOP ******************************* */

@media only screen and (min-width: 801px) {

    .discografiaGrilla {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 50px 170px 410px 50px 170px 410px 50px 170px 410px 50px 170px 410px 50px 170px 410px 50px 170px 410px 50px 170px 410px 50px 170px 410px 50px 170px 410px 50px; 
        grid-template-areas:"titulo0"
                            "titulo1"
                            "info1" 
                            "disco1"
                            "titulo2"
                            "info2"
                            "disco2"
                            "titulo3"
                            "info3"
                            "disco3"
                            "titulo4"
                            "info4"
                            "disco4"
                            "titulo5"
                            "info5"
                            "disco5"
                            "titulo6"
                            "info6"
                            "disco6"
                            "titulo7"
                            "info7"
                            "disco7"
                            "titulo8"
                            "info8"
                            "disco8"
                            "titulo9"
                            "info9"
                            "disco9"
                             ".";

        & .discos img {    
            width: 390px;
            max-height: 390px;
            margin-right: 40px;
        }

        & h3 {
            margin-left: 20%;
            font-size: 20px;
        }

        & p {
            margin: 0 20%;
        }
    }



    .titulo0 {
        grid-area: titulo0;
    }

    .titulo1 {
        grid-area: titulo1;
        display: flex;
        align-content: center;
    }

    .discosDisplay {
        display: flex;
        justify-content: center;
    }

    .disco1 {
        grid-area: disco1;
        @extend .discosDisplay;
    }

    .titulo2 {
        grid-area: titulo2;
    }

    .disco2 {
        grid-area: disco2;
        @extend .discosDisplay;
    }

    .titulo3 {
        grid-area: titulo3;
    }

    .disco3 {
        grid-area: disco3;
        @extend .discosDisplay;
    }
    
    .titulo4 {
        grid-area: titulo4;
    }

    .disco4 {
        grid-area: disco4;
        @extend .discosDisplay;
    }

    .titulo5 {
        grid-area: titulo5;
    }

    .disco5 {
        grid-area: disco5;
        @extend .discosDisplay;
    }

    .titulo6 {
        grid-area: titulo6;
    }

    .disco6 {
        grid-area: disco6;
        @extend .discosDisplay;
    }

    .titulo7 {
        grid-area: titulo7;
    }

    .disco7 {
        grid-area: disco7;
        @extend .discosDisplay;
    }

    .titulo8 {
        grid-area: titulo8;
    }

    .disco8 {
        grid-area: disco8;
        @extend .discosDisplay;
    }

    .titulo9 {
        grid-area: titulo9;
    }

    .disco9 {
        grid-area: disco9;
        @extend .discosDisplay;
    }

}


/*  ******************************* FIN DISCOGRAFIA DESKTOP *****************************/


/*  ******************************* DISCOGRAFIA MIXIN ******************************* */

@mixin discoMedMob ( $margin ) {


    .discografiaGrilla {
        margin: 0 $margin ;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 50px 200px 800px 50px 180px 800px 50px 250px 800px 50px 280px 800px 50px 340px 800px 50px 300px 800px 50px 320px 800px 50px 230px 800px 50px 230px 800px 30px; 
        grid-template-areas:"titulo0"
                            "titulo1"
                            "info1"
                            "disco1"
                            "titulo2"
                            "info2"
                            "disco2"
                            "titulo3"
                            "info3"
                            "disco3"
                            "titulo4"
                            "info4"
                            "disco4"
                            "titulo5"
                            "info5"
                            "disco5"
                            "titulo6"
                            "info6"
                            "disco6"
                            "titulo7"
                            "info7"
                            "disco7"
                            "titulo8"
                            "info8"
                            "disco8"
                            "titulo9"
                            "info9"
                            "disco9";
                      
        & .discos img {
            width: 390px;
            max-height: 390px;
            margin-bottom: 15px;
        }   
        
        & section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & h3 {
            font-size: 20px;
        }

    }


    .titulo0 {
        grid-area: titulo0;
        font-size: 28px;
    }

    .titulo1 {
        grid-area: titulo1;
    }

    .info1 {
        grid-area: info1;
    }

    .disco1 {
        grid-area: disco1;
    }

    .titulo2 {
        grid-area: titulo2;
    }

    .disco2 {
        grid-area: disco2;

    }

    .titulo3 {
        grid-area: titulo3;
    }

    .disco3 {
        grid-area: disco3;

    }
    
    .titulo4 {
        grid-area: titulo4;
    }

    .disco4 {
        grid-area: disco4;
    }

    .titulo5 {
        grid-area: titulo5;
    }

    .disco5 {
        grid-area: disco5;
    }

    .titulo6 {
        grid-area: titulo6;
    }

    .disco6 {
        grid-area: disco6;
    }

    .titulo7 {
        grid-area: titulo7;
    }

    .disco7 {
        grid-area: disco7;
    }

    .titulo8 {
        grid-area: titulo8;
    }

    .disco8 {
        grid-area: disco8;
    }

    .titulo9 {
        grid-area: titulo9;
    }

    .disco9 {
        grid-area: disco9;
    }
}

/******************************** DISCOGRAFIA MIXIN ******************************* */

/******************************** DISCOGRAFIA MED ******************************* */

@media only screen and (min-width: 601px) and (max-width: 800px) {
    @include discoMedMob ( 20px )
}


/*  ******************************* FIN DISCOGRAFIA MDE ******************************* */

/******************************** DISCOGRAFIA MOBILE ******************************* */

@media only screen and (max-width: 600px) {
    @include discoMedMob ( 0 )
}


/*  ******************************* FIN DISCOGRAFIA MOBILE ******************************* */